<MudHidden Breakpoint="Breakpoint.SmAndUp">
    <div class="copyright-footer">
        <MudCard Outlined="false" Elevation="25" Class="mx-4 rounded-xl" Style="margin-bottom: 90px;">
            <MudCardContent>
                <MudGrid Spacing="2">
                    <MudItem xs="12">
                        <MudText Align="Align.Center" Typo="Typo.h6" Style="font-weight: 700;" Color="@Color.Primary">ZANECO Web Application</MudText>
                        <MudText Align="Align.Center" Typo="Typo.subtitle2" Style="display: block">An In-House Web Application developed by ZTeam</MudText>
                    </MudItem>

                    <MudItem xs="12">
                        <MudText Align="Align.Center" Class="my-3" Typo="Typo.caption" Style="display: block">Built with C#(Programming Language), Net Core 6(Back-End Framework API), EF Core 6(Database Middleware), Blazor Web Assembly(Client Side/Front-End), adapted Clean Architechture and more Web Application Designs and Technologies.</MudText>
                    </MudItem>

                    <MudItem xs="12">
                        <div class="d-flex justify-center">
                            <MudIconButton Icon="fab fa-facebook" Class="mx-2 facebook-color rounded-lg" Variant="Variant.Filled"></MudIconButton>
                            <MudIconButton Icon="fab fa-instagram" Class="mx-2 instagram-color rounded-lg" Variant="Variant.Filled"></MudIconButton>
                            <MudIconButton Icon="fab fa-twitter" Class="mx-2 twitter-color rounded-lg" Variant="Variant.Filled"></MudIconButton>
                            <MudIconButton Icon="fas fa-phone" Class="mx-2 rounded-lg" Color="Color.Error" Variant="Variant.Filled"></MudIconButton>
                            <MudIconButton Icon="fas fa-envelope" Class="mx-2 rounded-lg" Color="Color.Primary" Variant="Variant.Filled"></MudIconButton>
                        </div>
                    </MudItem>

                    <MudItem xs="12">
                        <MudDivider Class="mx-3"></MudDivider>
                    </MudItem>

                    <MudItem xs="12">
                        <MudText Typo="Typo.caption" Align="Align.Center" Style="display: block">Copyright&copy; 2023 <strong>ZANECO Web Application</strong><br>All rights reserved</MudText>
                    </MudItem>
                </MudGrid>
            </MudCardContent>
        </MudCard>
    </div>
</MudHidden>